
<section class="sheet-body">
    <label for="description">{{ localize "naheulbeuk.items.description" }}:</label>
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}

    <p>Hello</p>
</section>
</form>