<form class="{{ cssClass }} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" title="{{ item.name }}" data-edit="img" alt="Weapon avatar">

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{ item.name }}" placeholder="{{ localize 'naheulbeuk.sheet.itemName' }}">
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{ item.type }}</h4>
                <span class="item-status">
                    {{#if data.setting}}
                        {{ data.setting }}
                    {{/if}}
                </span>
            </div>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DND5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "DND5E.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab flexrow active" data-group="primary" data-tab="description">

            {{ editor content=data.description target="data.description" button=true owner=owner editable=editable }}
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "DND5E.ItemWeaponDetails" }}</h3>
        </div>

    </section>
</form>
